<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.w3c.spring.model.mapper.DashBoardMapper">
    <!--    오늘 예약한 환자(취소 제외)-->
    <select id="getTodayReservationCount" resultType="int">
        SELECT COUNT(*)
        FROM RESERVATION
        WHERE TRUNC(TREATMENT_DATE) = TRUNC(SYSDATE)
        AND (RESERVATION_STATUS ='확정'
        OR RESERVATION_STATUS = '완료')
    </select>

    <!--    대기 중인 환자-->
    <select id="getStandbyPatient" resultType="int">
        SELECT COUNT(*)
        FROM V_RESERVATION_DETAILS
        WHERE TRUNC(TREATMENT_DATE) = TRUNC(SYSDATE)
        AND RESERVATION_STATUS = '확정'
    </select>

    <!--    사용 가능한 장비 / 전체 장비-->
    <select id="getEquipmentUtilizationRate" resultType="double">
        SELECT
        NVL((COUNT(CASE WHEN FACILITY_STATUS = 'T' THEN 1 END) / NULLIF(COUNT(*), 0)) * 100, 0) AS AvailablePercentage
        FROM
        FACILITY
    </select>

    <!--    어제 예약(취소 제외) / 오늘 예약(취소 제외)-->
    <select id="getReservationIncreaseRate" resultType="double">
        SELECT
        NVL(( (COUNT(CASE WHEN trunc(TREATMENT_DATE) = trunc(sysdate) AND (RESERVATION_STATUS = '확정' OR
        RESERVATION_STATUS =
        '완료') THEN 1 END) /
        NULLIF(COUNT(CASE WHEN trunc(TREATMENT_DATE) = trunc(sysdate) - 1 AND (RESERVATION_STATUS = '확정' OR
        RESERVATION_STATUS = '완료') THEN 1 END), 0))
        - 1 ) * 100, 0) AS IncreaseRate
        FROM
        RESERVATION
    </select>

    <!--   진행도(금일 전체 환자 / 대기 중인 환자)-->
    <select id="getStandbyPatientIncreaseRate" resultType="double">
        SELECT
        NVL(( COUNT(CASE WHEN trunc(TREATMENT_DATE) = trunc(sysdate) AND RESERVATION_STATUS = '완료' THEN 1 END) /
        NULLIF(COUNT(CASE WHEN trunc(TREATMENT_DATE) = trunc(sysdate) AND (RESERVATION_STATUS = '확정' OR
        RESERVATION_STATUS = '완료') THEN 1 END), 0)) * 100, 0) AS ProgressRate
        FROM
        RESERVATION
    </select>

    <!--    진행도(금일 예약 시설 / 대기 중인 시설)-->
    <select id="getEquipmentUtilizationIncreaseRate" resultType="double">
        SELECT
        NVL(( COUNT(CASE WHEN trunc(TREATMENT_DATE) = trunc(sysdate) AND RESERVATION_STATUS = '완료' THEN 1 END) /
        NULLIF(COUNT(CASE WHEN trunc(TREATMENT_DATE) = trunc(sysdate) AND (RESERVATION_STATUS = '확정' OR
        RESERVATION_STATUS = '완료') THEN 1 END), 0)) * 100, 0) AS ProgressRate
        FROM
        FACILITY_RESERVATION
    </select>
</mapper>