<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.w3c.spring.model.mapper.MemberMapper">

    <resultMap id="memberResultMap" type="com.w3c.spring.model.vo.Member">
        <id property="memberNo" column="member_no"/>
        <result property="memberId" column="member_id"/>
        <result property="memberPwd" column="member_pwd"/>
        <result property="memberName" column="member_name"/>
        <result property="memberGender" column="member_gender"/>
        <result property="memberRrn" column="member_rrn"/>
        <result property="memberPhone" column="member_phone"/>
        <result property="memberEmail" column="member_email"/>
        <result property="memberAddress" column="member_address"/>
        <result property="memberJoinDate" column="member_join_date"/>
        <result property="memberBloodType" column="member_blood_type"/>
        <result property="memberChronicDisease" column="member_chronic_disease"/>
        <result property="memberAllergy" column="member_allergy"/>
        <result property="memberStatus" column="member_status"/>
        <result property="staffNo" column="staff_no"/>
    </resultMap>

    <select id="selectMemberById" resultMap="memberResultMap">
        SELECT *
        FROM MEMBER
        WHERE member_id = #{memberId}
          AND member_status = 'T'
    </select>

    <insert id="signUpMember" parameterType="com.w3c.spring.model.vo.Member">
        INSERT INTO MEMBER (
            member_no, member_id, member_pwd, member_name,
            member_gender, member_rrn, member_phone, member_email,
            member_address, member_blood_type,
            member_chronic_disease, member_allergy,
            member_status, member_join_date
        )
        VALUES (
                   MEMBER_SEQ.NEXTVAL, #{memberId}, #{memberPwd}, #{memberName},
                   #{memberGender}, #{memberRrn}, #{memberPhone}, #{memberEmail},
                   #{memberAddress}, #{memberBloodType,jdbcType=VARCHAR},
                   #{memberChronicDisease,jdbcType=VARCHAR}, #{memberAllergy,jdbcType=VARCHAR},
                   'T', SYSDATE
               )
    </insert>

    <select id="getMemberCountById" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE member_id = #{memberId}
    </select>

    <update id="updateMemberInfo" parameterType="com.w3c.spring.model.vo.Member">
        UPDATE MEMBER
        SET member_name = #{memberName},
            member_phone = #{memberPhone},
            member_email = #{memberEmail},
            member_address = #{memberAddress},
            member_blood_type = #{memberBloodType,jdbcType=VARCHAR},
            member_chronic_disease = #{memberChronicDisease,jdbcType=VARCHAR},
            member_allergy = #{memberAllergy,jdbcType=VARCHAR}
        WHERE member_no = #{memberNo}
    </update>

    <select id="getMemberByNo" resultMap="memberResultMap">
        SELECT *
        FROM MEMBER
        WHERE member_no = #{memberNo}
    </select>

    <update id="updatePassword">
        UPDATE MEMBER
        SET member_pwd = #{newPassword}
        WHERE member_id = #{memberId}
    </update>

    <update id="deactivateMember">
        UPDATE MEMBER
        SET member_status = 'F'
        WHERE member_id = #{memberId}
    </update>

</mapper>
