<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.w3c.spring.model.mapper.MyChartMapper">

    <select id="selectMedicalHistoryList" parameterType="int" resultType="java.util.Map">
        SELECT
            R.TREATMENT_DATE AS visitDate,
            D.DEPARTMENT_NAME AS departmentName,
            M.CHIEF_COMPLAINT AS chiefComplaint
        FROM
            VISIT V
                JOIN
            RESERVATION R ON V.RESERVATION_NO = R.RESERVATION_NO
                JOIN
            DEPARTMENT D ON R.DEPARTMENT_NO = D.DEPARTMENT_NO
                LEFT JOIN
            MEDICAL M ON V.VISIT_NO = M.VISIT_NO
        WHERE
            V.MEMBER_NO = #{memberNo}
        ORDER BY
            R.TREATMENT_DATE DESC
    </select>
    <select id="selectDiagnosisRecords" parameterType="int" resultType="java.util.Map">
        SELECT
            R.TREATMENT_DATE AS treatmentDate,
            D.DIAGNOSIS_NAME AS diagnosisName,
            D.DIAGNOSIS_CODE AS diagnosisCode,
            P.PRESCRIPTION_NAME AS prescriptionName
        FROM
            MEDICAL_ORDER MO
                JOIN
            RESERVATION R ON MO.RESERVATION_NO = R.RESERVATION_NO
                JOIN
            MEDICAL_RECORD MR ON MO.MEDICAL_RECORD_NO = MR.MEDICAL_RECORD_NO
                JOIN
            DIAGNOSIS D ON MR.DIAGNOSIS_NO = D.DIAGNOSIS_NO
                LEFT JOIN
            PRESCRIPTION P ON MR.PRESCRIPTION_NO = P.PRESCRIPTION_NO
        WHERE
            R.MEMBER_NO = #{memberNo}
        ORDER BY
            R.TREATMENT_DATE DESC
    </select>

    <select id="selectTestResults" parameterType="int" resultType="java.util.Map">
        SELECT
            FR.TREATMENT_DATE AS testDate,
            F.FACILITY_NAME AS testName,
            F.FACILITY_TYPE AS facilityType,
            FR.RESERVATION_STATUS AS status
        FROM
            FACILITY_RESERVATION FR
                JOIN
            FACILITY F ON FR.FACILITY_NO = F.FACILITY_NO
        WHERE
            FR.MEMBER_NO = #{memberNo}
        ORDER BY
            FR.TREATMENT_DATE DESC
    </select>
</mapper>