* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', 'Noto Sans KR', sans-serif;
    background-color: white;
    min-height: 100vh;
    position: relative;
}

/* Form */
.form-container {
    max-width: 626px;
    margin: 0 auto;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.login-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
    
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group label {
    font-size: 16px;
    font-weight: 500;
    color: black;
    line-height: 1.5;
}

.input-group input {
    width: 100%;
    padding: 12px 16px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: black;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.input-group input::placeholder {
    color: #828282;
}

.input-group input:focus {
    outline: none;
    border-color: #0e787c;
}

.login-button {
    padding: 8px 16px;
    background-color: #0e787c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s;
}

.login-button:hover {
    background-color: #0a5f62;
}

.additional-links {
    margin-top: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.additional-links a{
    font-size: 15px;
    color: #828282;
    line-height: 1.5;
    text-decoration: none;
}

.additional-links a:hover {
    color: #0e787c;
    cursor: pointer;

}

/* Responsive Design */
@media (max-width: 1200px) {
    .main-content {
        padding: 0 120px;
    }
    
    .team-section {
        display: none;
    }
}

@media (max-width: 768px) {
    body {
        padding-bottom: 400px;
    }
    
    .main-content {
        padding: 0 20px;
    }
    
    .login-title h1 {
        font-size: 48px;
    }
    
    .footer {
        height: auto;
        padding: 40px 20px;
        position: relative;
    }
    
    .customer-service {
        position: relative;
        left: 0;
        top: 0;
    }
    
    .service-info {
        position: relative;
        left: 0;
        top: 10px;
        margin-top: 10px;
    }
    
    .social-icons {
        position: relative;
        left: 0;
        top: 20px;
        margin-top: 20px;
    }
    
    .contact-button {
        position: relative;
        left: 0;
        top: 20px;
        margin-top: 20px;
    }
    
    .copyright {
        position: relative;
        padding-right: 0;
        margin-top: 40px;
        text-align: center;
    }
    
    .copyright p {
        text-align: center;
    }
}
