<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.w3c.spring.model.mapper.inquiry.BoardMapper">

    <resultMap id="boardResultMap" type="Board">

        <result column="BOARD_ID" property="boardId"/>
        <result column="BOARD_TYPE" property="boardType"/>
        <result column="BOARD_TITLE" property="boardTitle"/>
        <result column="BOARD_SECRET_TYPE" property="boardSecretType"/>
        <result column="QUESTION_CONTENT" property="questionContent"/>
        <result column="QUESTION_DATE" property="questionDate"/>
        <result column="PATIENT_NAME" property="patientName"/>
        <result column="BOARD_STATUS" property="boardStatus"/>
        <result column="DEPARTMENT_NAME" property="departmentName"/>
        <result column="ANSWER_NO" property="answerNo"/>
        <result column="ANSWER_CONTENT" property="answerContent"/>
        <result column="STAFF_NAME" property="staffName"/>
        <result column="ANSWER_DATE" property="answerDate"/>

    </resultMap>


    <select id="selectBoardList" resultMap="boardResultMap">
        SELECT
        BOARD_ID,
        BOARD_TYPE,
        BOARD_TITLE,
        BOARD_SECRET_TYPE,
        BOARD_STATUS,
        DEPARTMENT_NAME,
        TO_CHAR(QUESTION_DATE, 'YYYY-MM-DD') AS QUESTION_DATE
        FROM V_BOARD_QA
        ORDER BY BOARD_ID DESC
    </select>
    <select id="selectBoardListCount" resultType="_int">
        SELECT COUNT(*)
        FROM V_BOARD_QA
    </select>

    <select id="getBoardById" parameterType="_int" resultMap="boardResultMap">
        SELECT
        BOARD_ID,
        BOARD_TYPE,
        BOARD_TITLE,
        BOARD_SECRET_TYPE,
        QUESTION_CONTENT,
        TO_CHAR(QUESTION_DATE, 'YYYY-MM-DD') AS QUESTION_DATE,
        PATIENT_NAME,
        BOARD_STATUS,
        DEPARTMENT_NAME,
        ANSWER_NO,
        ANSWER_CONTENT,
        STAFF_NAME,
        TO_CHAR(ANSWER_DATE, 'YYYY-MM-DD') AS ANSWER_DATE
        FROM V_BOARD_QA
        WHERE BOARD_ID = #{boardId}
    </select>

    <insert id="insertBoard" parameterType="com.w3c.spring.model.vo.inquiry.BoardInsert">
        INSERT INTO BOARD (
        BOARD_ID,
        BOARD_TYPE,
        BOARD_TITLE,
        BOARD_CONTENT,
        BOARD_DATE,
        BOARD_PRIORITY,
        BOARD_STATUS,
        MEMBER_NO,
        DEPARTMENT_NO,
        BOARD_SECRET_TYPE,
        BOARD_DELETE_TYPE
        )
        VALUES (
        BOARD_SEQ.NEXTVAL,
        #{boardType},
        #{boardTitle},
        #{boardContent},
        SYSDATE,
        1,
        '대기중',
        #{memberNo},
        1,
        #{boardSecretType},
        'F'
        )
    </insert>

    <select id="selectInquiryDetail" parameterType="_int" resultType="com.w3c.spring.model.vo.inquiry.Board">
        SELECT
        BOARD_NO as boardNo,
        BOARD_TITLE as boardTitle,
        BOARD_CONTENT as boardContent,
        WRITER_ID as writerId,
        TO_CHAR(CREATE_DATE, 'YYYY-MM-DD HH24:MI') as createDate,
        STATUS as status
        FROM
        INQUIRY_BOARD
        WHERE
        BOARD_NO = #{boardNo}
    </select>
</mapper>